.navbar{
    border-bottom-style: double;
}

body {
    margin: 0;
    padding: 0;
  }
  
  .logo {
    float: left;
  }
  /* ~~ Top Navigation Bar ~~ */
  
  #navigation-container {
    width: 1200px auto;
    margin: 0 auto;
    height: 150px;
  }
  
  .navigation-bar {
    background-color: #c9d1d8;
    height: 230px;
    width: 100%;
  }
  
  .navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
  }
  
  .navigation-bar .navbar-item  {
    list-style-type: none;
    padding: 10px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
  }
  
  .navigation-bar .navbar-item a {
    color: black;
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 10px 25px;
    opacity: 0.7;
  }
  
  #menu {
    float: right;
  }
  
  .navbar-item a:hover {
    background-color: #000000;
    color: #FFFFFF;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .active {
    float: right;
  }
  
  .navbar-item #otherview:hover {
    background-color: #000000;
    color: #FFFFFF;
  }
  
  #otherview{
    background-color: #F85E97;
    color: white;
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 155px;
    padding: 5px 35px auto;
    opacity: 0.7;
  }

  .body-section{
    margin: 0% auto;
  }
#card-index{
    width: 100% auto;
}
#card-img{
    float: inline-start;
}
h2{
    font-size: 36px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
p{
    text-align: center;
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

}
#a_button{
    background-color: #3fb8bf;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

#a_button:hover {
  background-color: #000000;
  color: #FFFFFF;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}