.navbar{
    border-bottom-style: double;
}

body {
    margin: 0;
    padding: 0;
  }
  
  .logo {
    float: left;
  }
  /* ~~ Top Navigation Bar ~~ */
  
  #navigation-container {
    width: 1200px auto;
    margin: 0 auto;
    height: 150px;
  }
  
  .navigation-bar {
    background-color: #c9d1d8;
    height: 230px;
    width: 100%;
  }
  
  .navigation-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
  }
  
  .navigation-bar .navbar-item  {
    list-style-type: none;
    padding: 10px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
  }
  
  .navigation-bar .navbar-item a {
    color: black;
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 10px 25px;
    opacity: 0.7;
  }
  
  #menu {
    float: right;
  }
  
  .navbar-item a:hover {
    background-color: #000000;
    color: #FFFFFF;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .active {
    float: right;
  }
  
  .navbar-item #otherview:hover {
    background-color: #000000;
    color: #FFFFFF;
  }
  
  #otherview{
    background-color: #F85E97;
    color: white;
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 155px;
    padding: 5px 35px auto;
    opacity: 0.7;
  }

  .body-section{
    margin: 0% auto;
  }
#card-index{
    width: 100% auto;
}
#card-img{
    float: inline-start;
}
h2{
    font-size: 36px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
p{
    text-align: center;
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;

}
#a_button{
    background-color: #3fb8bf;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

#a_button:hover {
  background-color: #3d3f41;
  color: #FFFFFF;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



/*FOOTER Elements*/
footer:not(title-about-item) {
  background-color: #121315;
  color: #a7a7a7;
  font-size: 16px;
}
/*
              <div class="row copyright">
                <div class="footer-menu">*/
footer * :not(title-about-item) :not(copyright){
  font-family: "Poppins", sans-serif;
  box-sizing: content-box;
  padding: 5px;
  border: none;
  outline: none;
}
.row {
  padding: 1em 1em;
}
.row.primary {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  align-items: stretch;
}
.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 15em;
}
#second-footer-title {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.4em;
  white-space: nowrap;
}
#third-footer-title {
  width: 100%;
  align-items: flex-start;
  color: white;
  font-size: 1.4em;
  white-space: nowrap;
}
#first-footer-title {
  width: 100%;
  text-align: start;
  color: rgb(255, 255, 255);
  font-size: 1.4em;
  white-space: nowrap;
}

#footer-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}
#footer-items:not(:first-child):not(about-item){
  margin-top: 0.8em;
}
#footer-ul #footer-items:not(#title-about-item, about-item) a {
  color: #a7a7a7;
  text-decoration: none;
}
#footer-ul #footer-items a:hover {
  color: #71ed2a;
}
.about p {
  text-align: justify;
  line-height: 2;
  margin: 0;
}
.copyright {
  padding: 0.3em 1em;
  background-color: #25262e;
}
.footer-menu{
  float: left;
    margin-top: 10px;
}
.footer-menu a:not(title-about-item, about-item){
  color: #cfd2d6;
  padding: 6px;

  text-decoration: none;
}
.footer-menu a:hover{
  color: #27bcda;
}
.copyright p {
  font-size: 0.9em;
  text-align: right;
}
@media screen and (max-width: 1050px) {
  .row.primary {
    grid-template-columns: 1fr;
  }

}
.secondary-title-footer:not(title-about-item){
  margin-bottom: 0%;
  color: #ffffff;
}
.primary-title-footer{
  margin-bottom: 1fr;
}
.about-item:not(:first-child){
  margin-top: -5px;
  color: white;
}

#footer-about-items:not(#id-about-item){
  margin-top: -5px;
}
#title-about-item{
  color: #0273d6 !important;
}

/* ~~ social ~~ */

div.social {
  align-items: flex-start;
  display: flex;
  justify-content: space-around;
  font-size: 2.4em;
  flex-direction: row;
  margin-top: 0.5em;
}
#social-ul #icon{
  color: #ea0a76;
  size: 15px;
  text-decoration: none;
}
#social-ul{
  margin-top: 0.8em;
  padding: 0;
  list-style: none;
  margin: 0;
}
#social-ul #social-items:not(:first-child){
  margin-top: 0.8em;
}